@import "../../styles/index.scss";

.intersection {
  border-radius: $border-radius;
  background-color: white;
  border: none;
  font-size: 16px;
  display: flex;
}

.wrapperMultiDropDown {
  justify-content: space-between;
  width: 300px;
  height: 52px;
}

.multiDropdown {
  width: 250px;
  height: 52px;
  text-overflow: ellipsis;
  padding: $space-s $space-xs;
}

.input {
  border-radius: $border-radius;
  width: 100%;
  height: 52px;
  font-size: 16px;
  padding: $space-s $space-xs;
}

.icon {
  padding: $space-s $space-xs;
}

.input::placeholder {
  color: rgba(175, 173, 181, 1);
  line-height: 20px;
  font-weight: 400;
}

:focus::-webkit-input-placeholder {
  color: black;
}

.inputFocus:focus {
  border: 1px solid $brand;
}

.wrapperFocus {
  border: 1px solid $brand;
}
