@import "../../../styles/index.scss";
.wrapper {
  max-width: 1237px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}
.title {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 38px;
  margin-top: 45px;
}

.shortInfo {
  display: flex;
  gap: 166px;
  margin-bottom: 38px;
}

.shortInfo img {
  border-radius: $border-radius;
}

.shortInfoText {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.shortInfoTextBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.necessary {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.ingredients {
  width: 50%;
}

.ingredientsList {
  min-height: 184px;
  max-height: 276px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.ingredientsLi {
  display: flex;
  gap: 16px;
}

.ingredientsTitle {
  margin-bottom: 24px;
}

.decor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.circle {
  width: 7px;
  height: 7px;
  background-color: $brand;
  border-radius: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.stick {
  width: 1px;
  height: 100%;
  background-color: $brand;
}

.equip {
  width: 50%;
  padding-left: 50px;
}

.directions {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 16px;
  margin-bottom: 54px;
  margin-top: 48px;
}

.directionsTitle {
  text-align: left;
  margin-bottom: 24px;
}

.directionsLi {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (max-width: 1150px) {
  .wrapper {
    width: 937px;
  }
  .shortInfoText {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
}
