@import "../../../styles//index.scss";

.wrapper {
  @include width;
}

.title {
  display: flex;
  gap: calc(16px * (100vw / 1270px));
  align-items: center;
  margin-bottom: calc(40px + 1vw);
  margin-top: calc(45px + 1vw);
}

.titleTextSmall {
  display: none;
}

.shortInfo {
  display: flex;
  gap: calc(166px * (100vw / 1270px));
  margin-bottom: calc(40px + 1vw);
}

.shortInfo img {
  border-radius: $border-radius;
}

.shortInfoText {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(16px * (100vw / 1270px));
}

.shortInfoTextBlock {
  display: flex;
  flex-direction: column;
  gap: calc(8px * (100vw / 1270px));
}

.necessary {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.ingredients {
  width: 50%;
  padding-right: calc(50px + 1vw);
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(10px * (100vw / 1270px));
}

.ingredientsLi {
  display: flex;
  gap: calc(16px * (100vw / 1270px));
}

.ingredientsTitle {
  margin-bottom: calc(24px + 1vw);
}

.decor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.circle {
  width: 7px;
  height: 7px;
  background-color: $brand;
  border-radius: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.stick {
  width: 1px;
  height: 100%;
  background-color: $brand;
}

.equip {
  width: 50%;
  padding-left: calc(50px + 1vw);
}

.equipList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(10px * (100vw / 1270px));
}

.equipLi {
  display: flex;
  gap: calc(16px * (100vw / 1270px));
}

.directions {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: calc(16px * (100vw / 1270px));
  margin-bottom: calc(50px + 1vw);
  margin-top: calc(50px + 1vw);
}

.directionsTitle {
  text-align: left;
  margin-bottom: calc(24px + 1vw);
}

.directionsLi {
  display: flex;
  flex-direction: column;
  gap: calc(8px * (100vw / 1270px));
}

@media (max-width: 900px) {
  .shortInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(83px * (100vw / 1270px));
    margin-bottom: calc(40px + 1vw);
  }

  .shortInfoText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .titleTextSmall {
    display: block;
  }

  .titleTextFull {
    display: none;
  }

  .necessary {
    flex-direction: column;
    align-items: start;
  }

  .ingredients {
    width: 100%;
    margin-bottom: calc(24px + 1vw);
  }

  .decor {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .stick {
    width: 100%;
    height: 1px;
  }

  .equip {
    width: 100%;
    padding-left: 0px;
    height: auto;
    margin-top: calc(24px + 1vw);
  }

  .ingredientsList {
    height: auto;
  }

  .directionsTitle {
    text-align: left;
  }
}
