$brand: #b5460f;
$brand-hover: rgba(181, 70, 15, 0.7);
$brand-active: #872d01;
$space-s: 14px;
$space-l: 20px;
$space-xxs: 8px;
$brand-disabled: #d9d9d9;
$font-color: white;
$space-xs: 12px;
$text-secondary: #afadb5;
$space-xl: 24px;
$border-radius: 10px;

@mixin width {
  max-width: 1270px;
  min-width: 300px;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

@mixin skeletonAnimation {
  animation: skeletonAnimation 1s infinite;
  animation-timing-function: cubic-bezier();
  border-radius: $border-radius;
}

@keyframes skeletonAnimation {
  from {
    background-color: rgba(181, 70, 15, 0.5);
  }
  50% {
    background-color: rgba(181, 70, 15, 0.8);
  }
  to {
    background-color: rgba(181, 70, 15);
  }
}
