$brand: #b5460f;
$brand-hover: rgba(181, 70, 15, 0.7);
$brand-active: #872d01;
$space-s: 14px;
$space-l: 20px;
$space-xxs: 8px;
$brand-disabled: #d9d9d9;
$font-color: white;
$space-xs: 12px;
$text-secondary: #afadb5;
$space-xl: 24px;
$border-radius: 10px;

@mixin width {
  width: 1270px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}
