@import "../../styles/index.scss";

.wrapper {
  max-width: 360px;
  background-color: white;
  border-radius: $border-radius;
}

.wrapper:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.wrapper img {
  width: 100%;
  height: auto;
  background-color: #d9d9d9;
  border-radius: $border-radius;
  filter: contrast(150%);
}

.content {
  padding: $space-xl $space-xs $space-xl $space-xs;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
