@import "../../styles/index.scss";

.wrapper {
  max-width: 360px;
  min-width: 290px;
  width: 100%;
  background-color: white;
  border-radius: $border-radius;
  cursor: pointer;
}

.wrapper:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.imgWrapper {
  max-width: 360px;
  min-width: 290px;
  max-height: max-content;
  min-height: 263px;
  border-radius: $border-radius $border-radius 0 0;
  background-color: $brand;
}

.image {
  width: 100%;
  height: auto;
  border-radius: $border-radius $border-radius 0 0;
  filter: contrast(115%);
}

.content {
  padding: calc($space-xl + 1vw) calc($space-xs + 1vw) calc($space-xl + 1vw) calc($space-xs + 1vw);
}

.timer {
  display: flex;
  align-items: start;
  gap: calc(6px * (100vw / 1270px));
}

.text {
  display: flex;
  flex-direction: column;
  gap: calc(10px * (100vw / 1270px));
  min-height: 100px;
  text-align: start;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(20px + 1vw);
}

@media (max-width: 795px) {
  .wrapper {
    max-width: 765px;
  }

  .imgWrapper {
    max-width: 765px;
  }
}
