@import "../../styles/index.scss";

.wrapper {
  @include width;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(20px * (100vw / 1270px));
  white-space: nowrap;
}

.logoImg {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.personal {
  display: flex;
  align-items: center;
  gap: calc(20px * (100vw / 1270px));
}
