@import "../../styles/index.scss";

.wrapper {
  @include width;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(20px * (100vw / 1270px));
  white-space: nowrap;
}

.logoImg {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.logoText {
  cursor: pointer;
}

.personal {
  display: flex;
  align-items: center;
  gap: calc(20px * (100vw / 1270px));
}

.icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.active {
  border-bottom: 2px solid $brand-active;
}

.popUp {
  position: absolute;
  top: 25px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  font-size: 12px;
  background-color: white;
  border: 1.5px solid $brand;
  color: $brand;
  border-radius: 100%;
}

.popUpActive {
  border: 1.5px solid $brand-active;
  color: $brand-active;
}
