@import "../../styles/index.scss";

.wrapper {
  @include width;
  height: 64px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-column-gap: 20px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  grid-column-start: 1;
  white-space: nowrap;
}

.list {
  display: flex;
  gap: 16px;
  align-items: center;
  grid-column-start: 3;
  white-space: nowrap;
  padding-left: 13px;
}

.personal {
  display: flex;
  align-items: center;
  gap: 16px;
  grid-column-end: 12;
}

.active {
  font-size: 40;
  color: $brand;
}

@media (max-width: 1350px) {
  .wrapper {
    width: 1037px;
    grid-template-columns: repeat(10, 1fr);
  }
}

@media (max-width: 1150px) {
  .wrapper {
    width: 937px;
  }
}

@media (max-width: 980px) {
  .wrapper {
    width: 837px;
  }
}

@media (max-width: 880px) {
  .wrapper {
    width: 737px;
  }

  .list {
    display: none;
  }
}

@media (max-width: 780px) {
  .wrapper {
    width: 637px;
  }
}

@media (max-width: 680px) {
  .wrapper {
    width: 537px;
  }
}

@media (max-width: 580px) {
  .wrapper {
    width: 437px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 337px;
    display: flex;
    justify-content: space-between;
  }
}
