@import "../../styles/index.scss";

.wrapper {
  @include width;
}

.title {
  width: 603px;
  height: 48px;
  margin-bottom: 38px;
  margin-top: 45px;
  @include skeletonAnimation;
}

.shortInfo {
  display: flex;
  gap: 166px;
  margin-bottom: 38px;
}

.img {
  width: 448px;
  height: 298px;
  @include skeletonAnimation;
}

.shortInfoText {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

.shortInfoTextBlock {
  width: 90px;
  height: 48px;
  @include skeletonAnimation;
}

.necessary {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.ingredients {
  width: 50%;
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ingredientsLi {
  width: 273px;
  height: 24px;
  @include skeletonAnimation;
}

.ingredientsTitle {
  margin-bottom: 24px;
  width: 123px;
  height: 24px;
  @include skeletonAnimation;
}
.decor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.circle {
  @include skeletonAnimation;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.stick {
  width: 1px;
  height: 100%;
  @include skeletonAnimation;
}

.equip {
  width: 50%;
  padding-left: 50px;
}

.equipList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.equipLi {
  width: 273px;
  height: 24px;
  @include skeletonAnimation;
}

.directions {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 16px;
  margin-bottom: 54px;
  margin-top: 48px;
}

.directionsTitle {
  text-align: left;
  margin-bottom: 24px;
  width: 123px;
  height: 24px;
}

.directionsLi {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 740px;
  height: 65px;
}

@media (max-width: 1150px) {
  .wrapper {
    width: 937px;
  }
  .shortInfoText {
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
  }
}

@media (max-width: 880px) {
  .wrapper {
    width: 737px;
  }
  .shortInfoText {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
  .shortInfo {
    gap: 80px;
  }

  .title {
    white-space: nowrap;
  }
}

@media (max-width: 780px) {
  .wrapper {
    width: 637px;
  }
  .shortInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .shortInfoText {
    display: flex;
  }
  .title {
    overflow: hidden;
  }
}

@media (max-width: 680px) {
  .wrapper {
    width: 537px;
  }

  .shortInfoText {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 580px) {
  .wrapper {
    width: 437px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 337px;
  }

  .necessary {
    flex-direction: column;
    align-items: start;
  }

  .ingredients {
    width: 100%;
  }

  .decor {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .stick {
    width: 100%;
    height: 1px;
  }

  .equip {
    width: 100%;
    padding-left: 0px;
    margin-top: 48px;
    height: auto;
  }

  .ingredientsList {
    height: auto;
  }

  .directionsTitle {
    text-align: left;
    margin-bottom: 12px;
    margin-top: 24px;
  }
}
