@import "../../../styles/index.scss";

.wrapper {
  @include width;
}

.title {
  max-width: 603px;
  height: 48px;
  margin-bottom: calc(40px + 1vw);
  margin-top: calc(45px + 1vw);
  @include skeletonAnimation;
}

.shortInfo {
  display: flex;
  justify-content: space-between;
  gap: calc(100px * (100vw / 1270px));
  margin-bottom: calc(40px + 1vw);
}

.img {
  max-width: 448px;
  width: 100%;
  height: 298px;
  @include skeletonAnimation;
}

.shortInfoText {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(100px * (100vw / 1270px));
}

.shortInfoTextBlock {
  width: 90px;
  height: 48px;
  @include skeletonAnimation;
}

.necessary {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.ingredients {
  width: 50%;
  padding-right: calc(50px + 1vw);
}

.ingredientsList {
  display: flex;
  flex-direction: column;
  gap: calc(10px * (100vw / 1270px));
}

.ingredientsLi {
  max-width: 273px;
  height: 24px;
  @include skeletonAnimation;
}

.ingredientsTitle {
  margin-bottom: calc(24px + 1vw);
  max-width: 123px;
  height: 24px;
  @include skeletonAnimation;
}
.decor {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: inherit;
}

.circle {
  @include skeletonAnimation;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}

.stick {
  width: 1px;
  height: 100%;
  @include skeletonAnimation;
}

.equip {
  width: 50%;
  padding-left: calc(50px + 1vw);
}

.equipList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: calc(10px * (100vw / 1270px));
}

.equipLi {
  max-width: 273px;
  height: 24px;
  @include skeletonAnimation;
}

.directions {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: calc(16px * (100vw / 1270px));
  margin-bottom: calc(54px + 1vw);
  margin-top: calc(50px + 1vw);
}

.directionsTitle {
  text-align: left;
  margin-bottom: calc(24px + 1vw);
  max-width: 123px;
  width: 100%;
  height: 24px;
  @include skeletonAnimation;
}

.directionsLi {
  max-width: 740px;
  width: 100%;
  height: 65px;
  margin-bottom: calc(24px + 1vw);
  @include skeletonAnimation;
}

@media (max-width: 900px) {
  .shortInfoText {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .necessary {
    flex-direction: column;
    align-items: start;
  }

  .ingredients {
    width: 100%;
    margin-bottom: calc(24px + 1vw);
  }

  .decor {
    flex-direction: row;
    align-items: center;
    width: 100%;
  }

  .stick {
    width: 100%;
    height: 1px;
  }

  .equip {
    width: 100%;
    padding-left: 0px;
    height: auto;
    margin-top: calc(24px + 1vw);
  }

  .ingredientsList {
    height: auto;
  }

  .directionsTitle {
    text-align: left;
  }
}
