@import "../../../styles//index.scss";
.mainPic {
  width: auto;
  margin: auto;
}

.mainContent {
  @include width;
}

.mainText {
  margin-bottom: 48px;
}

.input {
  @include width;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.multiDropdown {
  @include width;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 48px;
}

.cards {
  @include width;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 78px;
}

@media (max-width: 1350px) {
  .input {
    width: 1037px;
  }

  .multiDropdown {
    width: 1037px;
  }

  .mainContent {
    width: 1037px;
  }
  .cards {
    width: 1037px;
    gap: 48px;
  }
}

@media (max-width: 1150px) {
  .input {
    width: 937px;
  }

  .multiDropdown {
    width: 937px;
  }

  .mainContent {
    width: 937px;
  }
  .cards {
    width: 937px;
    gap: 36px;
  }
}

@media (max-width: 980px) {
  .input {
    width: 837px;
  }

  .multiDropdown {
    width: 837px;
  }

  .mainContent {
    width: 837px;
  }
  .cards {
    width: 837px;
    grid-template-columns: repeat(2, 1fr);
    gap: 140px;
  }
}

@media (max-width: 880px) {
  .input {
    width: 737px;
  }

  .multiDropdown {
    width: 737px;
  }

  .mainContent {
    width: 737px;
  }

  .cards {
    width: 737px;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
  }
}

@media (max-width: 780px) {
  .input {
    width: 637px;
  }

  .multiDropdown {
    width: 637px;
  }

  .mainContent {
    width: 637px;
  }

  .cards {
    width: 637px;
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
  }
}

@media (max-width: 680px) {
  .input {
    width: 537px;
  }

  .multiDropdown {
    width: 537px;
  }

  .mainContent {
    width: 537px;
  }

  .cards {
    width: 537px;
    grid-template-columns: repeat(1, 1fr);
    gap: 65px;
  }
}

@media (max-width: 580px) {
  .input {
    width: 437px;
  }

  .multiDropdown {
    width: 437px;
  }

  .mainContent {
    width: 437px;
  }

  .cards {
    width: 437px;
  }
}

@media (max-width: 480px) {
  .input {
    width: 337px;
    margin-top: 20px;
  }

  .multiDropdown {
    width: 337px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .mainContent {
    width: 337px;
  }

  .cards {
    width: 337px;
    gap: 20px;
  }

  .mainPic {
    display: none;
  }

  .mainText {
    display: none;
  }
}
