@import "../../styles//index.scss";

.mainPic {
  width: auto;
  margin-bottom: calc(36px + 1vw);
}

.mainContent {
  @include width;
  display: flex;
  flex-direction: column;
}

.input {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: calc(20px * (100vw / 1270px));
  margin-bottom: calc(20px + 1vw);
  margin-top: calc(50px + 1vw);
}

.popUpCloser {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.popUp {
  position: absolute;
  right: calc(75px + 1vw);
  transform: translateY(-25%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 170px;
  padding: 40px 5px 40px 5px;
  background-color: $brand;
  color: white;
  border-radius: $border-radius;
  @include skeletonAnimation;
}

.multiDropdown {
  display: flex;
  justify-content: flex-end;
  margin-bottom: calc(50px + 1vw);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: calc(70px * (100vw / 1270px));
  row-gap: calc(50px * (100vw / 1270px));
}

.noRes {
  margin-bottom: calc(50px + 1vw);
}

@media (max-width: 1050px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
  }
}

@media (max-width: 795px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .mainPic {
    display: none;
  }

  .mainText {
    display: none;
  }
}

@media (max-width: 320px) {
  .multiDropdown {
    justify-content: center;
  }
}
