@import "../../styles//index.scss";

.mainPic {
  width: auto;
  margin: auto;
}

.mainContent {
  @include width;
  display: flex;
  flex-direction: column;
}

.mainText {
  margin-bottom: calc(50px + 1vw);
}

.input {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: calc(20px + 1vw);
}

.popUpCloser {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.popUp {
  position: absolute;
  top: -125px;
  right: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 150px;
  height: 100px;
  padding: 25px 10px 0px 10px;
  background-color: $brand;
  color: white;
  border-radius: $border-radius;
  @include skeletonAnimation;
}

.ArrowUpIcon {
  display: none;
}

.multiDropdown {
  display: flex;
  justify-content: flex-end;
  margin-bottom: calc(50px + 1vw);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(70px * (100vw / 1270px));
}

.noRes {
  margin-bottom: calc(50px + 1vw);
}

@media (max-width: 480px) {
  .mainPic {
    display: none;
  }

  .mainText {
    display: none;
  }

  .ArrowDownIcon {
    display: none;
  }

  .ArrowUpIcon {
    display: block;
    transform: rotate(180deg);
  }
}
