@import "../../../styles//index.scss";
.wrapper {
  @include width;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(50px * (100vw / 1270px));
  background-color: rgba(181, 70, 15, 0.33);
  padding: 100px;
  box-shadow: 0px 4px 10px 0px rgba(181, 70, 15, 1);
}

.personalData {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  color: $brand;
  font-size: 20px;
}

.li {
  cursor: pointer;
}
.activeLi {
  text-decoration: underline;
}
